<div class=container>
    <mat-tab-group>
        <mat-tab label="Tipo1"> 
            <ul>
                <li *ngFor = "let p of products">
                    <app-item-card [produto]="p"></app-item-card>
                    <div class="btnContainer">
                        <button mat-flat-button color="primary">Informações</button>
                        <button mat-flat-button color="primary" (click)="addProdutoCarrinho(p)">Adicionar no carrinho</button>
                        <button mat-flat-button color="warn" (click)="removeProduto(p)">Remover</button>
                    </div>
                </li>
            </ul>
            <div class="btnContainer">
                <button mat-fab color="primary" routerLink="/add-product">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </mat-tab>
        <mat-tab label="Tipo2">
            <ul>
                <li *ngFor = "let p of products">
                    <app-item-card [produto]="p"></app-item-card>
                    <div class="btnContainer">
                        <button mat-flat-button color="primary">Informações</button>
                        <button mat-flat-button color="primary" (click)="addProdutoCarrinho(p)">Adicionar no carrinho</button>
                        <button mat-flat-button color="warn" (click)="removeProduto(p)">Remover</button>
                    </div>
                </li>
            </ul>

            <div class="btnContainer">
                <button mat-raised-button color="primary" routerLink="/add-product">Adicionar</button>
            </div>
            
            
        </mat-tab>
        <mat-tab label="Tipo3"> Tipo3 </mat-tab>
        <mat-tab label="Tipo4"> Tipo4 </mat-tab>
        <mat-tab label="Tipo5"> Tipo5 </mat-tab>
    </mat-tab-group>

    <router-outlet></router-outlet>

</div>